body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(36, 170, 119);
    color: rgb(180, 28, 180);
}
header {
    display: flex;
  justify-content: center;

    padding: 1rem 2rem;
    background-color: rgb(255, 255, 255);
}